# TODO: Check which of these are needed
agno==2.4.5
alembic==1.16.2
asyncpg==0.30.0
bcrypt==4.3.0
celery==5.5.2
cryptography==45.0.7
email_validator==2.2.0
fastapi==0.122.0
fastapi-cli==0.0.11
fastapi-cloud-cli==0.1.5
fastapi-mail==1.4.1
greenlet==3.2.3
groq==0.30.0
gunicorn==22.0.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic-settings==2.7.1
pydantic_core==2.33.2

python-dotenv==1.1.0
python-jose==3.5.0
redis==6.2.0
rsa==4.9.1
SQLAlchemy==2.0.41
uvicorn==0.35.0
uvloop==0.21.0
websockets==15.0.1
requests==2.32.5
